body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  background: #e3f4ff;
  font-weight: 800;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  padding: 20px 40px;
  display: block;
  margin: auto;
}